# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Results
results/
repos-for-analysis/

# Tauri
src-tauri/target/

# Node
node_modules/
dist/
